.container {
  display: grid;
  grid-template-columns: 26rem 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main {
  background-color: var(--color-yellow-700);
  padding: 4rem 4.8rem 6.4rem;
}
