.button {
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
}

.small {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.small:hover {
  background-color: var(--color-brand-700);
}

.medium {
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  font-weight: 500;
}

.large {
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  font-weight: 500;
}

.primary {
  color: var(--color-brand-50);
  background-color: var(--color-brand-600);
}
