.row {
  display: grid;
  grid-template-columns: 24rem 1fr 1.2fr;
  align-items: center;
  gap: 2.4rem;
  padding: 1.2rem 0;
}

.row:first-child {
  padding-top: 0;
}

.row:last-child {
  padding-bottom: 0;
}

.row:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-100);
}

.row:has(button) {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.label {
  font-weight: 500;
}

.error {
  font-size: 1.4rem;
  color: var(--color-red-700);
}
